h1 {
    color: #777777;
}

.wmd-panel{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.comment-reply{
    display:none;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  right: 5;  //or you can increase this
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  left: 5; //or you can increase this
}
.carousel-control {
    width: 4%
}